
/*以下の要件に従ってWebページを作ってください。
【要件】
　　　1. <header>タグ、<h1タグ>、<nav>タグ、<ol>タグ、<li>タグを用いる
　　　　<header>タグの中に<h1>タグ、<nav>タグがあり、<nav>タグの中に<ol>タグ、
　　　　<ol>タグの中に<li>タグが4つある構成にする
　　　2. <h1>タグの中身は EXAMPLE とする
　　　3. <li>タグの中身はそれぞれ MENU1 , MENU2 , MENU3 , MENU4 とする
　　　4. それぞれclass名は"headline", "nav", "list", "list-item"とする
　　　5. headerのwidth（横幅）は10%にする
　　　6. headlineのfont-size（文字の大きさ）は22pxにする
　　　7. navの中の文字を中央寄せ（text-align）にする*/

header{
	width: 10%;
}

.headerline{
	font-size: 22px;
}

.nav{
	text-align: center;
}

